@tailwind base;
@tailwind components;
@tailwind utilities;

.text-unselectable {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.cell {
	@apply flex flex-row items-center justify-center p-2 m-2 font-bold bg-gray-900 rounded-lg text-unselectable text-stone-400 hover:border-8 hover:border-stone-400;
}
.selectedCell {
	@apply border-8 border-stone-400;
}
.inputBox {
	@apply flex flex-row gap-2 px-3 py-2 mx-auto mb-3 bg-gray-800 border-4 border-gray-900 rounded-lg drop-shadow-xl w-min text-stone-400;
}
.sizeInputWrapper {
	@apply flex w-auto px-3 py-1 bg-gray-900 rounded-lg;
}
.sizeInput {
	@apply self-end inline-block w-10 font-bold text-center bg-transparent h-min text-unselectable;
}
.tableBlockWrapper {
	@apply z-0 flex items-center w-screen h-screen;
}
.tableBlock {
	@apply flex flex-col p-3 m-auto bg-gray-800 rounded-lg;
}
.row {
	@apply flex flex-row;
}
.stickToBottom {
	@apply absolute bottom-0 z-10 w-full;
}
:root {
	color-scheme: dark;
}
